<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for your purchase</h1>
    <p>Your purchase of <%= @transaction.stack_product_name %> for <%= number_to_currency(@transaction.transaction_amount) %> <small>AUD</small> on Payly was successful.</p>

    <% if @transaction.stack_has_digital_download %>
      <p><%= link_to 'You can download your file here', download_url(:token => @transaction.transaction_token), :target => "_blank" %>.</p>
    <% end %>

    <p>Here is your <strong>tax invoice</strong>

    <h2><%= @transaction.stack_seller_trading_name %></h2>
    <p>ABN: <%= @transaction.stack_seller_abn %></p>
    <p>Date: <%= @transaction.created_at.strftime('%-d/%-m/%Y') %></p>
    <p>Invoice number: <%= @transaction.transaction_token %></p>

    <hr />

    <table border="0" width="100%">
      <tr>
        <td>&nbsp;</td>
        <td align="right"><strong>$AUD</strong></td>
      </tr>
      <tr>
        <td><%= @transaction.stack_product_name %></td>
        <td align="right"><%= number_to_currency(@transaction.transaction_amount) %></td>
      </tr>
      <tr>
        <td colspan="2">
          <hr />
        </td>
      </tr>
      <tr>
        <td><strong>Total amount payable</strong></td>
        <td align="right"><strong><%= number_to_currency(@transaction.transaction_amount) %></strong></td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>No GST has been charged.</strong>
        </td>
      </tr>
    </table>

    <% if @transaction.stack_require_shipping %>
    <p><%= @transaction.stack_product_name %> will be shipped to:</p>
    <p><%= @transaction.shipping_full_name %><br />
       <%= @transaction.shipping_address_line1 %>, <%= @transaction.shipping_address_line2 %><br />
       <%= @transaction.shipping_address_city %> <%= @transaction.shipping_address_state %> <%= @transaction.shipping_address_postcode %><br />
       <%= @transaction.shipping_address_country %></p>
    <% end %>

    <p>If there are any problems, please contact the seller via <%= mail_to @transaction.stack_seller_email, 'email' %>.</p>

    <p>Thanks,<br />Payly</p>
  </body>
</html>