<section class="devise-registrations-new">
  <div class="main">
    <article class="container">

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field field-text field-email">
          <%= f.label :email %>
          <div class="input">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <footer class="actions">
          <div class="button-group">
            <%= f.submit 'Resend confirmation instructions', class: :'primary-action' %>
          </div>
        </footer>
      <% end %>

    </article>

    <ul>
      <li>Got an account? <%= link_to new_user_session_path, :class => "top-button" do %>Login<% end %></li>
      <li><%= link_to "Forgot your password?", new_password_path('user') %></li>
    </ul>
  </div>
</section>
