%footer.global
  %ul
    %li
      Crafted in Sydney, Australia by #{link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank"}
    %li
      Want updates? #{link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank"}
    %li
      = link_to "FAQs", faqs_path
    %li
      = link_to "Privacy Policy", privacy_path
    %li
      = link_to "Terms of Service", terms_path