%h1.page-title
  #{content_tag :i, '', :class => 'icon-dashboard'} Dashboard

- if @stacks.empty?
  .container
    %header
      %p
        %strong Create your first payment page
    .selection
      %ul
        %li
          = link_to new_one_time_page_path do
            %i.icon-exchange
            %span.text One Time
        %li
          = link_to new_digital_download_page_path do
            %i.icon-download-alt
            %span.text Digital Download
- else
  .container
    #{render "entity/shared/stat", {:stat_title => "This week", :count_label => "Purchases", :count_value => current_user.weekly_stats[:count], :sales_label => "Sales", :sales_amount => current_user.weekly_stats[:cost], :sales_currency => "AUD"}}

    #{render "entity/shared/stat", {:stat_title => "This month", :count_label => "Purchases", :count_value => current_user.weekly_stats[:count], :sales_label => "Sales", :sales_amount => current_user.weekly_stats[:cost], :sales_currency => "AUD"}}

    #{render "entity/shared/stat", {:stat_title => "All", :count_label => "Purchases", :count_value => current_user.weekly_stats[:count], :sales_label => "Sales", :sales_amount => current_user.weekly_stats[:cost], :sales_currency => "AUD"}}