<div class="container">
  <header>
    <p><strong>Your payment provider</strong></p>
  </header>

  <%= form_for(@entity, :url => update_user_payment_provider_path(@entity.entity_token), :html => { :method => :put, :autocomplete => "off"}) do |f| %>
    <div class="field field-radio-buttons field-payment-methods">
      <%= f.label :payment_method, 'Payment Provider' %>
      <div class="input">
        <%= f.label :payment_method, :for => "user_payment_method_pin_payments" do %>
          <%= f.radio_button :payment_method, "pin_payments" %> Pin Payments
        <% end %>
        <%= f.label :payment_method, :for => "user_payment_method_braintree" do %>
          <%= f.radio_button :payment_method, "braintree" %> Braintree
        <% end %>
        <%= f.label :payment_method, :for => "user_payment_method_stripe" do %>
          <%= f.radio_button :payment_method, "stripe" %> Stripe
        <% end %>
      </div>
    </div>

    <div class="more-fields" data-show="pin_payments">
      <div class="heading">
        <h2>Pin Payments API Keys</h2>
        <p>Don't have Pin Payment API Keys for live payments? <%= link_to "Sign up today!", "https://pin.net.au/signup", :target => "_blank" %></p>
      </div>
      <div class="field field-text field-pin-api-key">
        <%= f.label :pin_api_key, 'Publishable API Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_pin_api_key', :'data-input-name' => 'user[pin_api_key]' %>
          <%= f.text_field :pin_api_key, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :pin_api_secret, 'Secret API Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_pin_api_secret', :'data-input-name' => 'user[pin_api_secret]' %>
          <%= f.text_field :pin_api_secret, :autocomplete => "off" %>
        </div>
      </div>
    </div>

    <div class="more-fields" data-show="braintree">
      <div class="heading">
        <h2>Braintree API Keys</h2>
        <p>Don't have Braintree API Keys for live payments? <%= link_to "Sign up today!", "https://apply.braintreegateway.com/signup/australia", :target => "_blank" %></p>
      </div>
      <div class="field field-text field-pin-api-key">
        <%= f.label :braintree_merchant_key, 'Merchant ID' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_braintree_merchant_key', :'data-input-name' => 'user[braintree_merchant_key]' %>
          <%= f.text_field :braintree_merchant_key, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :braintree_api_key, 'Public Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_braintree_api_key', :'data-input-name' => 'user[braintree_api_key]' %>
          <%= f.text_field :braintree_api_key, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :braintree_api_secret, 'Private Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_braintree_api_secret', :'data-input-name' => 'user[braintree_api_secret]' %>
          <%= f.text_field :braintree_api_secret, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :braintree_client_side_key, 'Client-Side Encryption Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'textarea', :'data-input-id' => 'user_braintree_client_side_key', :'data-input-name' => 'user[braintree_client_side_key]' %>
          <%= f.text_area :braintree_client_side_key, :autocomplete => "off" %>
        </div>
      </div>
    </div>

    <div class="more-fields" data-show="stripe">
      <div class="heading">
        <h2>Stripe API Keys</h2>
        <p>Don't have Stripe API Keys for live payments? <%= link_to "Sign up today!", "https://manage.stripe.com/register", :target => "_blank" %></p>
      </div>
      <div class="field field-text field-stripe-api-secret">
        <%= f.label :stripe_api_secret, 'Secret Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_stripe_api_secret', :'data-input-name' => 'user[stripe_api_secret]' %>
          <%= f.text_field :stripe_api_secret, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-stripe-api-key">
        <%= f.label :stripe_api_key, 'Publishable Key' %>
        <div class="input">
          <%= f.button 'Change', :class=>'secondary-action', :type => 'button', :'data-action'=>"change-input", :'data-input-type' => 'text', :'data-input-id' => 'user_stripe_api_key', :'data-input-name' => 'user[stripe_api_key]' %>
          <%= f.text_field :stripe_api_key, :autocomplete => "off" %>
        </div>
      </div>
    </div>

    <footer class="actions">
      <div class="button-group">
        <%= f.submit 'Save Payment Provider', :class => "primary-action" %>
      </div>
    </footer>
  <% end %>
</div>