<%= form_for @stack, :url => stack_update_path, :method => 'put', :html => {:multipart => true, :autocomplete => "off"} do |f| %>
  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack.errors.count, "error") %> prohibited this stack from being saved:</h2>

      <ul>
      <% @stack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field-text field-product">
    <%= f.label :product_name, "Name" %>
    <div class="input">
      <%= f.text_field :product_name, :placeholder => "Product Name" %>
    </div>
  </div>
  <div class="field field-select field-charge-type">
    <%= f.label :charge_type, "Type of charge" %>
    <div class="input">
      <%= f.select :charge_type, options_for_select([['Fixed price', 'fixed'], ['Any price', 'any']], @stack.charge_type) %>
    </div>
  </div>
  <div class="field field-text field-charge-amount">
    <%= f.label :charge_amount, "Amount" %>
    <div class="input">
      <div class="pre"><%= f.label :charge_amount, '$' %></div>
      <%= f.text_field :charge_amount, :placeholder => "56.78", :value => number_with_precision(@stack.charge_amount, :precision => 2) %>
      <div class="post"><%= f.label :charge_amount, 'AUD' %></div>
    </div>
  </div>
  <div class="field field-textarea field-description">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :placeholder => "A really great description of your product." %>
    </div>
  </div>
  <div class="field field-file-upload field-primary-image">
    <%= f.label :primary_image, 'Logo' %>

    <div class="input">
      <%= image_tag @stack.primary_image.url(:tiny) %>
      <%= f.file_field :primary_image %>
    </div>
    <p class="description">Ideal logo should be 400px X 400px and less the 10KB with a format of .gif, .png, or .jpg.</p>
  </div>
    <div class="field field-text field-digital-download field-more-fields">
    <%= f.label :has_digital_download do %>Provide downloadable file<% end %>
    <div class="input">
      <label><%= f.check_box :has_digital_download %></label>
    </div>
  </div>
  <div class="more-fields">
    <div class="heading">
      <h2>Your downloadable file</h2>
      <p>You can provide a file that is downloadable upon sucessful payment through this payment page.</p>
      <p>Downloadable files are currently limited to 10MB in size.</p>
    </div>
    <div class="field field-text field-digital-download-file">
      <%= f.label :digital_download_file, 'Downloadable file' %>
      <div class="input">
        <%= f.file_field :digital_download_file, :"data-required" => "true" %>
      </div>
      <% unless @stack.digital_download_file_file_name.blank? && @stack.digital_download_file.path.blank? && @stack.digital_download_file_updated_at.blank? %>
        <p class="description">Your last file was <%= link_to @stack.digital_download_file_file_name, @stack.digital_download_file.expiring_url(600), :target => '_blank' %> and was uploaded <%= time_ago_in_words(@stack.digital_download_file_updated_at) %> ago.</p>
      <% end %>
    </div>
    <div class="field field-text field-digital-download-receive">
      <%= f.label :digital_download_receive, 'What will buyers receive' %>
      <div class="input">
      <%= f.text_field :digital_download_receive, :placeholder => "ZIP file" %>
      </div>
    </div>
    <% if @stack.digital_download_update_flag %>
    <div class="field field-link field-send-updated-email">
      <div class="input">
        <%= link_to "Inform previous buyers about your updated file", dashboard_stack_updated_download_path(@stack.stack_token) %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="field field-text field-seller-name">
    <%= f.label :seller_name, "Seller's name" %>
    <div class="input">
      <%= f.text_field :seller_name, :placeholder => current_user.full_name %>
    </div>
  </div>
  <div class="field field-text field-seller-email">
    <%= f.label :seller_email, "Seller's email" %>
    <div class="input">
      <%= f.text_field :seller_email, :placeholder => current_user.email %>
    </div>
  </div>
  <div class="field field-text field-ga-id">
    <%= f.label :page_token, 'Custom Page URL' %>
    <div class="input">
      <%= f.text_field :page_token %>
    </div>
  </div>
  <div class="field field-text field-return-url">
    <%= f.label :return_url %>
    <div class="input">
      <%= f.text_field :return_url, :placeholder => "http://example.org/thanks" %>
    </div>
  </div>
  <div class="field field-text field-ga-id">
    <%= f.label :ga_id, 'Google Analytics ID' %>
    <div class="input">
      <%= f.text_field :ga_id, :placeholder => "UA-XXXXXXXX-X" %>
    </div>
  </div>
  <div class="field field-text field-require-shipping">
    <%= f.label :bcc_receipt do %>BCC me payment receipts<% end %>
    <div class="input">
      <label><%= f.check_box :bcc_receipt %></label>
    </div>
  </div>

  <div class="field field-text field-invoice field-more-fields">
    <%= f.label :send_invoice_email do %>Send invoice email<% end %>
    <div class="input">
      <label><%= f.check_box :send_invoice_email %></label>
    </div>
  </div>
  <div class="more-fields">
    <div class="heading">
      <h2>Your Address</h2>
      <p>Your personal or company details must appear on the invoice that is emailed to customers in order to make it a valid invoice. Fill in your details below.</p>
    </div>
    <div class="field field-text field-trading-name">
      <%= f.label :seller_trading_name, 'Trading name' %>
      <div class="input">
      <%= f.text_field :seller_trading_name %>
      </div>
    </div>
    <div class="field field-text field-abn">
      <%= f.label :seller_abn, 'ABN' %>
      <div class="input">
      <%= f.text_field :seller_abn %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_line1, 'Address Line 1' %>
      <div class="input">
      <%= f.text_field :seller_address_line1 %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_line2, 'Address Line 2' %>
      <div class="input">
      <%= f.text_field :seller_address_line2 %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_city, 'City' %>
      <div class="input">
      <%= f.text_field :seller_address_city %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_postcode, 'Postcode' %>
      <div class="input">
      <%= f.text_field :seller_address_postcode %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_state, 'State' %>
      <div class="input">
      <%= f.text_field :seller_address_state %>
      </div>
    </div>
    <div class="field field-text field-card-number">
      <%= f.label :seller_address_country, 'Country' %>
      <div class="input">
        <%= f.country_select :seller_address_country, ["Australia"], :class => "dropup" %>
      </div>
    </div>
  </div>
  <div class="field field-text field-require-shipping">
    <%= f.label :require_shipping do %>Require shipping details<% end %>
    <div class="input">
      <label><%= f.check_box :require_shipping %></label>
    </div>
  </div>

  <footer class="actions">
    <div class="button-group">
      <%= f.submit 'Save Payment Page', :class => 'primary-action' %>

      <%= link_to 'Delete', stack_destroy_path(@stack.stack_token), class: :'delete-action', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </footer>
<% end %>