<li class="feed-item">
  <figure>
    <%= image_tag stack.primary_image.url(:tiny), :width => '42', :height => '42' %>
  </figure>
  <p>
    <% if stack.has_digital_download %>
      <i class="icon-download-alt"></i>
    <% else %>
      <i class="icon-exchange"></i>
    <% end %>
    <%= stack.product_name %>
  </p>
  <ul>
    <li>
      <%= link_to dashboard_stack_path(stack.stack_token) do %>
        <i class="icon-cog"></i> Settings
      <% end %>
    </li>
    <li>
      <%= link_to dashboard_stack_transactions_path(stack.stack_token) do %>
        <i class="icon-money"></i> Purchases
      <% end %>
    </li>
    <li>
      <%= link_to page_new_transaction_path(stack.page_token) do %>
        <i class="icon-external-link"></i> View Page
      <% end %>
    </li>
    <li>
      <% if stack.visible %>
      <i class="icon-eye-open"></i> Visible to public
      <% else %>
      <i class="icon-eye-close"></i> Visible only to you
      <% end %>
    </li>
  </ul></li>


