<h1 class="page-title">
  <% if @stack.has_digital_download %>
    <i class="icon-download-alt"></i>
  <% elsif @stack.has_subscription %>
    <i class="icon-refresh"></i>
  <% else %>
    <i class="icon-exchange"></i>
  <% end %>
  <%= @stack.product_name %>
</h1>

<div class="container">
  <%= render "header", :stack => @stack unless @stack.has_subscription %>
  <%= render "header_subscription", :stack => @stack if @stack.has_subscription %>

  <div class="stats">
    <h2>This week</h2>
    <ul>
      <li class="count">
        <span><%= @stack.weekly_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
        <li class="amount">
          <span class="cost"><%= number_to_currency(@stack.weekly_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
  <div class="stats">
    <h2>This month</h2>
    <ul>
      <li class="count">
        <span><%= @stack.monthly_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
      <li class="amount">
        <span class="cost"><%= number_to_currency(@stack.monthly_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
  <div class="stats">
    <h2>All</h2>
    <ul>
      <li class="count">
        <span><%= @stack.all_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
      <li class="amount">
        <span class="cost"><%= number_to_currency(@stack.all_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <%= render "transactions/list", :transactions => @transactions %>
</div>
