<h1 class="page-title">
  <% if @stack.has_digital_download %>
    <i class="icon-download-alt"></i>
  <% else %>
    <i class="icon-exchange"></i>
  <% end %>
  <%= @stack.product_name %>
</h1>

<div class="container">
  <%= render "header", :stack => @stack %>

  <%= form_for @stack, :url => stack_update_path, :method => 'put', :html => {:multipart => true, :autocomplete => "off"} do |f| %>
    <% if @stack.errors.any? %>
      <div id="error_explanation" class="notification notification-danger">
        <h2><%= pluralize(@stack.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
        <% @stack.errors.messages.each do |attr,message| %>
          <% message.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="heading">
      <h2>Page Details</h2>
    </div>
    <div class="field field-text field-product">
      <%= f.label :product_name, "Name" %>
      <div class="input">
        <%= f.text_field :product_name, :class => 'required' %>
        <span class='field-error-text error-text--required'>This field is required.</span>
      </div>
    </div>
    <div class="field field-text field-ga-id">
      <%= f.label :page_token, 'Slug' %>
      <div class="input">
        <%= f.text_field :page_token, :class => 'required' %>
        <span class='field-error-text error-text--required'>This field is required.</span>
      </div>
      <p class="description">You can customise the URL of your payment page.</p>
    </div>
    <div class="field field-textarea field-description">
      <%= f.label :description %>
      <div class="input">
        <%= f.text_area :description, :class => 'required'%>
        <span class='field-error-text error-text--required'>This field is required.</span>
      </div>
    </div>
    <div class="field field-file-upload field-primary-image">
      <%= f.label :primary_image, 'Logo' %>
      <div class="input">
        <%= image_tag @stack.primary_image.url(:tiny), :width => '50', :height => '50' %>
        <%= f.file_field :primary_image %>
      </div>
      <p class="description">Ideal logo should be 400px X 400px and less the 10KB with a format of .gif, .png, or .jpg.</p>
    </div>
    <div class="field field-file-upload field-banner-image">
      <%= f.label :banner_image, 'Cover' %>
      <div class="input">
        <%= image_tag @stack.banner_image.url(:default), :width => '150', :height => '50' %>
        <%= f.file_field :banner_image %>
      </div>
      <p class="description">Ideal banner should be 1500px X 300px and less the 500KB with a format of .gif, .png, or .jpg.</p>
    </div>

    <div class="field field-select field-charge-type">
      <%= f.label :buy_button_text, "Purchase button text" %>
      <div class="input">
        <%= f.select :buy_button_text, options_for_stack_buy_button_text(@stack.buy_button_text) %>
      </div>
    </div>
    <div class="field field-text field-return-url">
      <%= f.label :return_url %>
      <div class="input">
        <%= f.text_field :return_url, :placeholder => "http://example.org/thanks" %>
      </div>
    </div>
    <div class="field field-text field-ga-id">
      <%= f.label :analytics_key, 'Google Analytics ID' %>
      <div class="input">
        <%= f.text_field :analytics_key %>
      </div>
    </div>
    <div class="field field-text field-return-url">
      <%= f.label :visible, 'Visibility' %>
      <div class="input">
        <%= f.select :visible, options_for_stack_visibility(@stack.visible) %>
      </div>
      <p class="description">Hidden means only you are able to see the page.</p>
    </div>

    <div class="heading">
      <h2>Payment Details</h2>
    </div>
    <div class="field field-select field-charge-type">
      <%= f.label :charge_type, "Type of charge" %>
      <div class="input">
        <%= f.select :charge_type, options_for_stack_charge_type(@stack.charge_type) %>
      </div>
    </div>
    <div class="field field-text field-charge-amount">
      <%= f.label :charge_amount, "Amount" %>
      <div class="input">
        <div class="pre"><%= f.label :charge_amount, '$' %></div>
        <%= f.text_field :charge_amount, :placeholder => "56.78", :value => number_with_precision(@stack.charge_amount, :precision => 2) %>
        <div class="post"><%= f.label :charge_amount, 'AUD' %></div>
        <span class='field-error-text error-text--required'>This field is required.</span>
        <span class='field-error-text error-text--number'>This field must be a number.</span>
      </div>
    </div>
    <div class="field field-select field-charge-type">
      <%= f.label :max_purchase_count, "Limit purchases to" %>
      <div class="input">
        <%= f.text_field :max_purchase_count, :placeholder => "∞" %>
      </div>
      <p class="description">Limit the amount of purchases that can come through this page.</p>
    </div>
    <div class="field field-text field-require-shipping field-more-fields">
      <%= f.label :require_shipping do %>Require shipping<% end %>
      <div class="input">
        <label><%= f.check_box :require_shipping %></label>
      </div>
    </div>
    <div class="more-fields" data-section="shipping-cost">
      <div class="heading">
        <h2>Shipping Cost</h2>
      </div>
      <% if @stack.shipping_cost_term? %>
        <% @stack.shipping_cost_term.each_index do |index| %>
        <div class="field field-full-length field-text field-shipping-details">
          <div class="input">
            <%= f.text_field :shipping_cost_term, :value => @stack.shipping_cost_term[index], :name => "stack[shipping_cost_term][]" %><%= f.text_field :shipping_cost_value, :value => number_with_precision(@stack.shipping_cost_value[index], :precision => 2), :name => "stack[shipping_cost_value][]" %><button type="button" data-action="remove" class="remove-shipping delete-action">Delete</button>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="field">
        <button type="button" data-action="add" class="add-shipping secondary-action">Add Row</button>
      </div>
    </div>

    <div class="field field-text field-require-shipping field-more-fields">
      <%= f.label :require_surcharge do %>Require surcharge<% end %>
      <div class="input">
        <label><%= f.check_box :require_surcharge %></label>
      </div>
    </div>
    <div class="more-fields" data-section="surcharge">
      <div class="heading">
        <h2>Surcharge Costs</h2>
      </div>
      <div class="field field-full-length field-text field-surcharge">
        <div class="input">
          <%= f.text_field :surcharge_value, :value => @stack.surcharge_value, :placeholder => "Amount", :name => "stack[surcharge_value]" %>
          <%= f.select :surcharge_unit, options_for_stack_surcharge_type(@stack.surcharge_unit) %>
        </div>
      </div>
    </div>

    <% if @stack.has_digital_download %>
      <div class="heading">
        <h2>Downloadable file</h2>
      </div>
      <div class="heading">
        <p>You can provide a file that is downloadable upon successful payment through this payment page.</p>
        <p>Downloadable files are currently limited to 10MB in size.</p>
      </div>
      <div class="field field-text field-digital-download-file">
        <%= f.label :digital_download_file, 'Downloadable file' %>
        <div class="input">
          <%= f.file_field :digital_download_file, :"data-required" => "true" %>
        </div>
        <p class="description">Your last file was <%= link_to @stack.digital_download_file_file_name, @stack.digital_download_file.expiring_url(600), :target => '_blank', :download => @stack.digital_download_file_file_name %> and was uploaded <%= time_ago_in_words(@stack.digital_download_file_updated_at) %> ago.</p>
      </div>
      <div class="field field-text field-digital-download-receive">
        <%= f.label :digital_download_receive, 'What will buyers receive' %>
        <div class="input">
        <%= f.text_field :digital_download_receive, :placeholder => "ZIP file" %>
        </div>
      </div>
      <% if @stack.digital_download_update_flag %>
        <div class="field field-link field-send-updated-email">
          <div class="input">
            <%= link_to "Inform previous buyers about your updated file", dashboard_stack_updated_download_path(@stack.stack_token) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="heading">
      <h2>Seller Details</h2>
    </div>
    <div class="field field-text field-seller-name">
      <%= f.label :seller_name, "Seller's name" %>
      <div class="input">
        <%= f.text_field :seller_name, :placeholder => current_user.full_name, :class => 'required' %>
        <span class='field-error-text error-text--required'>This field is required.</span>
      </div>
    </div>
    <div class="field field-text field-seller-email">
      <%= f.label :seller_email, "Seller's email" %>
      <div class="input">
        <%= f.email_field :seller_email, :placeholder => current_user.email, :class => 'required email' %>
        <span class='field-error-text error-text--required'>This field is required.</span>
        <span class='field-error-text error-text--email'>This field needs to be an email address.</span>
      </div>
    </div>
    <div class="field field-text field-require-shipping">
      <%= f.label :bcc_receipt do %>BCC payment receipts<% end %>
      <div class="input">
        <label><%= f.check_box :bcc_receipt %></label>
      </div>
    </div>
    <div class="field field-text field-invoice field-more-fields">
      <%= f.label :send_invoice_email do %>Send invoice email<% end %>
      <div class="input">
        <label><%= f.check_box :send_invoice_email %></label>
      </div>
    </div>
    <div class="more-fields">
      <div class="heading">
        <h2>Your Address</h2>
        <p>Your personal or company details must appear on the invoice that is emailed to customers in order to make it a valid invoice. Fill in your details below.</p>
      </div>
      <div class="field field-text field-trading-name">
        <%= f.label :seller_trading_name, 'Trading name' %>
        <div class="input">
        <%= f.text_field :seller_trading_name %>
        </div>
      </div>
      <div class="field field-text field-abn">
        <%= f.label :seller_abn, 'ABN' %>
        <div class="input">
        <%= f.text_field :seller_abn %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_line1, 'Address Line 1' %>
        <div class="input">
        <%= f.text_field :seller_address_line1 %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_line2, 'Address Line 2' %>
        <div class="input">
        <%= f.text_field :seller_address_line2 %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_city, 'City' %>
        <div class="input">
        <%= f.text_field :seller_address_city %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_postcode, 'Postcode' %>
        <div class="input">
        <%= f.text_field :seller_address_postcode %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_state, 'State' %>
        <div class="input">
        <%= f.text_field :seller_address_state %>
        </div>
      </div>
      <div class="field field-text field-card-number">
        <%= f.label :seller_address_country, 'Country' %>
        <div class="input">
          <%= f.country_select :seller_address_country, ["Australia"], :class => "dropup" %>
        </div>
      </div>
    </div>

    <div class="heading">
      <h2>Custom Fields</h2>
      <p>Each field will be presented as a text field on your payment page.</p>
    </div>
    <% if @stack.custom_data_term? %>
      <% @stack.custom_data_term.each_index do |index| %>
      <div class="field field-full-length field-text field-custom-data">
        <div class="input">
  <%= f.text_field :custom_data_term, :value => @stack.custom_data_term[index], :placeholder => "Label", :name => "stack[custom_data_term][]" %>
  <label><%= check_box_tag 'stack[custom_data_value][]', index, @stack.custom_data_value.include?(index.to_s), :name => "stack[custom_data_value][]" %> Required</label>
  <button type="button" data-action="remove" class="remove-custom-data delete-action">Delete</button>
          </div>
          <p class="description">URL param: <%= @stack.custom_data_term[index].downcase.gsub(' ', '-') %></p>
        </div>
      <% end %>
    <% end %>
    <div class="field">
      <button type="button" data-action="add" class="add-custom-data secondary-action">Add row</button>
    </div>

    <footer class="actions">
      <div class="button-group">
        <%= f.submit 'Save Page', :class => 'primary-action' %>

        <%= link_to 'Delete', stack_destroy_path(@stack.stack_token), class: :'delete-action', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </footer>
  <% end %>
</div>