<div class="container">
  <%= render "stack_header" %>

  <div class="stats">
    <h2>This week</h2>
    <ul>
      <li class="count">
        <span><%= @stack.weekly_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
        <li class="amount">
          <span class="cost"><%= number_to_currency(@stack.weekly_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
  <div class="stats">
    <h2>This month</h2>
    <ul>
      <li class="count">
        <span><%= @stack.monthly_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
      <li class="amount">
        <span class="cost"><%= number_to_currency(@stack.monthly_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
  <div class="stats">
    <h2>All</h2>
    <ul>
      <li class="count">
        <span><%= @stack.all_stats[:count] %></span>
        <h3>Purchases</h3>
      </li>
      <li class="amount">
        <span class="cost"><%= number_to_currency(@stack.all_stats[:cost]) %><span class="currency">AUD</span></span>
        <h3>Sales</h3>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <%= render "transactions/list" %>
</div>
