<section class="devise-passwords-edit">
  <div class="main">
    <article class="container">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field field-text field-password">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :autocomplete => "off" %>
          </div>
        </div>
        <div class="field field-text field-password-confirmation">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :autocomplete => "off" %>
          </div>
        </div>

        <footer class="actions">
          <div class="button-group">
            <%= f.submit "Change my password", class: :'primary-action'  %>
          </div>
        </footer>
      <% end %>

    </article>
  </div>
</section>