<section class="home-index">
  <div class="main">
    <article>

      <div class="hero">
        <div class="hero__inner">
          <div class="hero__text">
            <p class="tagline">Accept Payments. <br /> Simply &amp; Easily.</p>
            <p class="minorline">Payly is the easiest way for Australians to begin accepting payments from anyone in just a few clicks.</p>
            <p><%= link_to "Accept Payments Now", new_user_registration_path, :class => "button-primary" %> <%= link_to "Learn More", features_path, :class => "button" %></p>
          </div>
        </div>
        <%= image_tag "payment_page.png" %>
      </div>

      <div class="works">
        <h2>How it works</h2>
        <ul class="first last">
          <li class="step-one first">
            <div class="header">
              <i class="step">Step 1</i>
              <h3>Sign up to Payly</h3>
            </div>
            <div class="content">
              <p><%= link_to "Sign up", new_user_registration_path %> for a free account with your name, email, username and password.</p>
            </div>
          </li>
          <li class="step-two">
            <div class="header">
              <i class="step">Step 2</i>
              <h3>Set up a Page</h3>
            </div>
            <div class="content">
              <p>Set up your first payment page by entering a few details.</p>
            </div>
          </li>
          <li class="step-three last">
            <div class="header">
              <i class="step">Step 3</i>
              <h3>Add your API keys</h3>
            </div>
            <div class="content">
              <p>Sign up to <%= link_to "Pin Payments", "http://www.pin.net.au", :target => "_blank" %>,  <%= link_to "Stripe", "http://www.stripe.com", :target => "_blank" %> or <%= link_to "Braintree", "http://www.braintreepayments.com", :target => "_blank" %> and add the necessary details to your account.</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="features" id="features">
        <h2>Features</h2>
        <ul class="last">
          <li class="first">
            <div class="header">
              <i class="icon-download-alt"></i>
              <h3>Digital Delivery</h3>
            </div>
            <div class="content">
              <p>Sell anything, even digital files. We allow you to upload a 10MB file which will be sent to your customers on payment.</p>
            </div>
          </li>
          <li>
            <div class="header">
              <i class="icon-desktop"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-tablet"></i>&nbsp;<i class="icon-mobile-phone"></i>
              <h3>Looks great everywhere</h3>
            </div>
            <div class="content">
              <p>From the smallest phone, to the largest screen, our payment pages will look great. </p>
            </div>
          </li>
          <li class="last">
            <div class="header">
              <i class="icon-envelope"></i>
              <h3>Automatic emails</h3>
            </div>
            <div class="content">
              <p>Receipts and notifications are emailed to you and your customer automatically.</p>
            </div>
          </li>
        </ul>
        <p><%= link_to "Learn more", features_path, :class => "button" %></p>
      </div>

      <div class="app">
        <div class="app__inner">
          <div class="app__text">
            <h2>Your Own App</h2>
            <h3>No setup required</h3>
            <p>Pages are optimised to work perfectly with the 'Add to Home Screen' feature on iOS which enables anyone to add your Page to their device's home screen.</p>
          </div>
          <div class="app__image">
            <%= image_tag "ios_home_screen.png" %>
          </div>
        </div>
      </div>

      <%= render 'pricing' %>
    </article>
  </div>
</section>