<h1 class="page-title">
  <i class="icon-money"></i> Purchases
  <%= link_to "Export to CSV", params.merge(:format => :csv), :class => 'btn' %>
</h1>

<div class="container">

  <ul class="feed-list">
  <% @transactions.each do |transaction| %>
    <li class="feed-item">
      <p><%= transaction.buyer_name %> bought <%= transaction.stack_product_name %> for <span class="cost"><%= number_to_currency(transaction.transaction_amount) %><span class="currency"><%= transaction.stack_charge_currency %></span></span></p>
        <ul>
          <li><span class="time"><%= time_ago_in_words(transaction.created_at) %> ago</span></li>
          <li><span class="id">ID: <%= transaction.transaction_token %></span></li>
          <li><span class="purchase"><%= link_to "View Purchase", dashboard_stack_transaction_path(transaction.transaction_token) %></span></li>
          <li><span class="email"><%= mail_to transaction.buyer_email, "Email Buyer", :class => "email", :target => "_blank" %></span></li>
      </ul>
    </li>
  <% end %>
  <% if @transactions.count == 0 %>
    <li class="feed-item">
      <p>You have not received any payments for this page yet.</p>
    </li>
  <% end %>
  </ul>
  <%= will_paginate @transactions, :page_links => false, :previous_label => "Prev", :next_label => "Next" %>
</div>