<div class="container">
  <header>
    <p><strong>Your account settings</strong></p>
  </header>

  <%= form_for(@user, :as => 'user', :url => registration_path('user'), :html => { :method => :put, :autocomplete => "off"}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field field-text field-full-name">
      <%= f.label :full_name, 'Full Name' %>
      <div class="input">
        <%= f.text_field :full_name, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-email">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email, :autocomplete => "off" %>
      </div>
    </div>

    <div class="heading">
      <h2>Pin Payments API Keys</h2>
      <p>Don't have Pin Payment API Keys for live payments? <%= link_to "Sign up today!", "https://pin.net.au/signup", :target => "_blank" %></p>
    </div>
    <div class="field field-text field-pin-api-key">
      <%= f.label :pin_api_key, 'API Key' %>
      <div class="input">
        <%= f.text_field :pin_api_key, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-pin-api-secret">
      <%= f.label :pin_api_secret, 'API Secret' %>
      <div class="input">
        <%= f.text_field :pin_api_secret, :autocomplete => "off" %>
      </div>
    </div>

    <div class="heading">
      <h2>Change Password</h2>
    </div>
    <div class="field field-text field-current-password">
      <%= f.label :current_password, 'Old Password' %>
      <div class="input">
        <%= f.password_field :current_password, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-password">
      <%= f.label :password, 'New Password' %>
      <div class="input">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-password-confirmation">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <div class="input">
        <%= f.password_field :password_confirmation, :autocomplete => "off" %>
      </div>
    </div>

    <footer class="actions">
      <div class="button-group">
        <%= f.submit 'Save', :class => "primary-action" %>

        <%= link_to 'Cancel Account', registration_path('user'), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "delete-action" %>
      </div>
    </footer>
  <% end %>
</div>