<div class="container">
  <header>
    <p><strong>Your account settings</strong></p>
  </header>

  <%= form_for(@user, :as => 'user', :url => registration_path('user'), :html => { :method => :put, :autocomplete => "off"}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field field-text field-full-name">
      <%= f.label :full_name, 'Full Name' %>
      <div class="input">
        <%= f.text_field :full_name, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-email">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email, :autocomplete => "off" %>
      </div>
    </div>

    <div class="field field-radio-buttons field-payment-methods">
      <%= f.label :payment_method, 'Payment Provider' %>
      <div class="input">
        <%= f.label :payment_method, :for => "user_payment_method_pin_payments" do %>
          <%= f.radio_button :payment_method, "pin_payments" %> Pin Payments
        <% end %>
        <%= f.label :payment_method, :for => "user_payment_method_braintree" do %>
          <%= f.radio_button :payment_method, "braintree" %> Braintree
        <% end %>
      </div>
    </div>

    <div class="more-fields" data-show="pin_payments">
      <div class="heading">
        <h2>Pin Payments API Keys</h2>
        <p>Don't have Pin Payment API Keys for live payments? <%= link_to "Sign up today!", "https://pin.net.au/signup", :target => "_blank" %></p>
      </div>
      <div class="field field-text field-pin-api-key">
        <%= f.label :pin_api_key, 'API Key' %>
        <div class="input">
          <%= f.text_field :pin_api_key, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :pin_api_secret, 'API Secret' %>
        <div class="input">
          <%= f.text_field :pin_api_secret, :autocomplete => "off" %>
        </div>
      </div>
    </div>

    <div class="more-fields" data-show="braintree">
      <div class="heading">
        <h2>Braintree API Keys</h2>
        <p>Don't have Braintree API Keys for live payments? <%= link_to "Sign up today!", "https://apply.braintreegateway.com/signup/australia", :target => "_blank" %></p>
      </div>
      <div class="field field-text field-pin-api-key">
        <%= f.label :braintree_merchant_id, 'Merchant ID' %>
        <div class="input">
          <%= f.text_field :braintree_merchant_id, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :braintree_api_key, 'Public Key' %>
        <div class="input">
          <%= f.text_field :braintree_api_key, :autocomplete => "off" %>
        </div>
      </div>
      <div class="field field-text field-pin-api-secret">
        <%= f.label :braintree_api_secret, 'Private Key' %>
        <div class="input">
          <%= f.text_field :braintree_api_secret, :autocomplete => "off" %>
        </div>
      </div>
    </div>

    <div class="heading">
      <h2>Change Password</h2>
    </div>
    <div class="field field-text field-current-password">
      <%= f.label :current_password, 'Old Password' %>
      <div class="input">
        <%= f.password_field :current_password, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-password">
      <%= f.label :password, 'New Password' %>
      <div class="input">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>
    </div>
    <div class="field field-text field-password-confirmation">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <div class="input">
        <%= f.password_field :password_confirmation, :autocomplete => "off" %>
      </div>
    </div>

    <div class="heading">
      <h2>Communication from Payly</h2>
      <p>From time to time, we'd like to send you emails with updates to features and services.</p>
    </div>
    <div class="field field-text field-current-password">
      <%= f.label :opt_in_communication, 'Subscribe' %>
      <div class="input">
        <%= f.label :opt_in_communication do %>
          <%= f.check_box :opt_in_communication %>
        <% end %>
      </div>
    </div>

    <footer class="actions">
      <div class="button-group">
        <%= f.submit 'Save', :class => "primary-action" %>

        <%= link_to 'Cancel Account', registration_path('user'), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "delete-action" %>
      </div>
    </footer>
  <% end %>
</div>