<%= form_for('', :html => {:autocomplete => "off"}) do |f| %>
  <div class="field field-text field-full-name">
    <label>Page</label>
    <div class="input">
      <span class="text">
        <%= link_to @transaction.stack.product_name, dashboard_stack_path(@stack.stack_token) %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Transaction ID</label>
    <div class="input">
      <span class="text">
        <%= @transaction.transaction_token %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Buyer's Name</label>
    <div class="input">
      <span class="text">
        <%= @transaction.buyer_name %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Buyer's Email</label>
    <div class="input">
      <span class="text">
        <%= mail_to @transaction.buyer_email, @transaction.buyer_email %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Bought</label>
    <div class="input">
      <span class="text">
        <%= @transaction.created_at %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Paid</label>
    <div class="input">
      <span class="text">
        <%= number_to_currency(@transaction.transaction_amount) %>
        <% if !@transaction.shipping_cost.nil? && @stack.require_shipping == true %>
          (includes <%= number_to_currency(@transaction.shipping_cost_value) %> for <%= @transaction.shipping_cost_term %> shipping)
        <% end %>
      </span>
    </div>
  </div>
  <% if !@transaction.shipping_cost.nil? && @stack.require_shipping %>
  <div class="field field-text field-full-name">
    <label>Shipping Address</label>
    <div class="input">
      <span class="text">
        <%= @transaction.shipping_address_line2 unless @transaction.shipping_address_line2.nil? %>
        <%= @transaction.shipping_address_line1 %> <br />
        <%= @transaction.shipping_address_city %> <br />
        <%= @transaction.shipping_address_postcode %> <br />
        <%= @transaction.shipping_address_state %> <br />
        <%= @transaction.shipping_address_country %> <br />
      </span>
    </div>
  </div>
  <% end %>

<% unless @transaction.custom_data_term.blank? %>
  <% @transaction.custom_data_term.each_index { |index| %>
  <div class="field field-text field-full-name">
    <label><%= @transaction.custom_data_term[index] %></label>
    <div class="input">
      <span class="text">
        <%= @transaction.custom_data_value[index] %>
      </span>
    </div>
  </div>
  <% } %>
<% end %>

    <footer class="actions">
      <div class="button-group">
        <%= link_to 'Back to Purchase Feed', dashboard_stack_transactions_path(@stack.stack_token), :class => "secondary-action" %>
      </div>
    </footer>
<% end %>
