<%= form_for('', :html => {:autocomplete => "off"}) do |f| %>
  <div class="field field-text field-full-name">
    <label>ID</label>
    <div class="input">
      <span class="text">
        <%= transaction.transaction_token %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Page</label>
    <div class="input">
      <span class="text">
        <%= link_to dashboard_stack_path(transaction.stack_stack_token) do %>
          <% if transaction.stack_has_digital_download %>
            <i class="icon-download-alt"></i>
          <% else %>
            <i class="icon-exchange"></i>
          <% end %>
          <%= transaction.stack_product_name %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Buyer's Name</label>
    <div class="input">
      <span class="text">
        <%= transaction.buyer_name %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Buyer's Email</label>
    <div class="input">
      <span class="text">
        <%= mail_to transaction.buyer_email, transaction.buyer_email %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Bought</label>
    <div class="input">
      <span class="text">
        <%= transaction.created_at %>
      </span>
    </div>
  </div>
  <div class="field field-text field-full-name">
    <label>Paid</label>
    <div class="input">
      <span class="text">
        <%= number_to_currency(transaction.transaction_amount) %>
        <% if !transaction.shipping_cost? && transaction.stack_require_shipping.nil? %>
          (includes <%= number_to_currency(transaction.shipping_cost_value) %> for <%= transaction.shipping_cost_term %> shipping)
        <% end %>
      </span>
    </div>
  </div>
  <% unless transaction.stack_require_shipping.nil? %>
  <div class="field field-text field-full-name">
    <label>Shipping Address</label>
    <div class="input">
      <span class="text">
        <%= transaction.shipping_address_line2 unless transaction.shipping_address_line2? %>
        <%= transaction.shipping_address_line1 %> <br />
        <%= transaction.shipping_address_city %> <br />
        <%= transaction.shipping_address_postcode %> <br />
        <%= transaction.shipping_address_state %> <br />
        <%= transaction.shipping_address_country %> <br />
      </span>
    </div>
  </div>
  <% end %>

  <% if transaction.custom_data_term? %>
    <% transaction.custom_data_term.each_index { |index| %>
    <div class="field field-text field-full-name">
      <label><%= transaction.custom_data_term[index] %></label>
      <div class="input">
        <span class="text">
          <%= transaction.custom_data_value[index] %>
        </span>
      </div>
    </div>
    <% } %>
  <% end %>

<% end %>
