<%= form_for @transaction, :url => page_create_transaction_path, :html => {:autocomplete => "off"} do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation" class="notification notification-danger">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:status] %>
  <div class="notification notification-danger">
    <h2><%= pluralize(flash[:status].count, "error") %> prohibited this page from performing a transaction:</h2>
    <ul>
    <% flash[:status].each do |message| %>
      <li>(<%= message.code %>) <%= message.message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form', :f => f %>
<% end %>

<% unless @transaction.stack.ga_id.blank? %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= @transaction.stack.ga_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>

<script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script type="text/javascript">
  var braintree = Braintree.create("<%= @stack.user.braintree_client_side_key %>");
  braintree.onSubmitEncryptForm('new_transaction');
</script>
