<article>
  <header>
    <figure><%= image_tag @stack.primary_image.url(:medium) %></figure>
    <h1><%= @stack.product_name %> <i class="icon-lock"></i></h1>
    <p><%= @stack.description %></p>
    <% if @stack.has_digital_download_and_has_receive_text? %>
      <p>You will receive a <%= @stack.digital_download_receive %>.</p>
    <% elsif @stack.has_digital_download_and_has_no_receive_text? %>
      <p>You will receive a file.</p>
    <% end %>

    <% if @stack.charge_type == "fixed" %>
      <span class="cost"><%= number_to_currency(@stack.charge_amount) %><span class="currency"><%= @stack.charge_currency %></span></span>
    <% end %>
  </header>

  <%= render "transactions/new_#{@stack.user_payment_method}", { :transaction => @transaction, :stack => @stack, :shipping_cost => @shipping_cost } %>
</article>


<ul class="transaction__contact">
  <li>
    <%= mail_to @stack.seller_email, 'Have a question or comment', :subject => "I have a question about purchasing #{@stack.product_name}", :class => "transaction__contact__link" %>
  </li>
</ul>