%header
  .button-group
    = link_to edit_page_path(stack.stack_token), :class => "#{current_page(edit_page_path(stack.stack_token))} first" do
      #{content_tag :i, '', :class => 'icon-cog'} #{content_tag :span, 'Settings', :class => 'text'}

    = link_to page_path(stack.stack_token), :class => current_page(page_path(stack.stack_token)) do
      #{content_tag :i, '', :class => 'icon-money'} #{content_tag :span, 'Purchases', :class => 'text'}

    = link_to page_new_transaction_path(stack.page_token), :class => "last", :target => "_blank" do
      #{content_tag :i, '', :class => 'icon-external-link'} #{content_tag :span, 'View Page', :class => 'text'}