.page
  = render "header", :stack => @stack

  .page__content

    %ul.navigation.navigation--inline
      %li.navigation__item.navigation__item--inline
        = link_to "Edit", edit_page_path(@stack.stack_token), :class => "#{current_page(edit_page_path(@stack.stack_token))} first"
      %li.navigation__item.navigation__item--inline
        = link_to "Options", options_page_path(@stack.stack_token), :class => "#{current_page(edit_page_path(@stack.stack_token))} first"
      %li.navigation__item.navigation__item--inline
        = link_to "Customise", customise_page_path(@stack.stack_token), :class => "#{current_page(edit_page_path(@stack.stack_token))} first"


    = form_for @stack, :url => update_page_path(@entity.entity_token), :method => 'put', :html => {:class => "form", :multipart => true, :autocomplete => "off"} do |f|

      - if @stack.errors.any?
        %div#error_explanation.notification.notification-danger
          %h2
            #{pluralize(@stack.errors.count, "error")} prohibited this page from being saved:

          %ul
            - @stack.errors.messages.each do |attr,message|
              - message.each do |msg|
                %li
                  #{msg}

      = render "entity/pages/fieldset/edit_page", {:stack => @stack, :f => f} if @show == "edit"
      = render "entity/pages/fieldset/page_options", {:stack => @stack, :f => f} if @show == "options"
      = render "entity/pages/fieldset/customise_page", {:stack => @stack, :f => f} if @show == "customisation"

      .field
        = link_to "Publish", publish_page_path(@stack.stack_token), class: :'button button--outline', method: :put, data: { confirm: 'Are you sure?' } if @stack.visible?
        = link_to "Unpublish", unpublish_page_path(@stack.stack_token), class: :'button button--outline', method: :put, data: { confirm: 'Are you sure?' } unless @stack.visible?

        = f.submit 'Save Page', :class => 'button button--primary'
