.page
  .page__header
    .page__header__title
      %h1 Pages

  .page__content
    - if @show == 'intro'
      %header
        %p
          %strong Select your page type
      .selection
        %ul
          %li
            = link_to new_one_time_page_path do
              %i.icon-exchange
              %span.text One Time
          %li
            = link_to new_digital_download_page_path do
              %i.icon-download-alt
              %span.text Digital Download

    - elsif @show == 'one-time'
      %h1.page-title
        #{content_tag :i, '', :class => 'icon-exchange'} One Time Payment Page
      = form_for @stack, :url => create_one_time_page_path(@entity.entity_token), :html => {:multipart => true, :autocomplete => "off"} do |f|
        - if @stack.errors.any?
          %div#error_explanation.notification.notification-danger
            %h2
              #{pluralize(@stack.errors.count, "error")} prohibited this page from being saved:

            %ul
              - @stack.errors.messages.each do |attr,message|
                - message.each do |msg|
                  %li
                    #{msg}

        .form__content
          %h2.heading Page Details

        .grid.grid--full
          .grid__item.three-quarters
            .field
              = f.label :product_name, "Name *", :class => "field__question"
              = f.text_field :product_name, :class => "field__answer required"
              %span.field__text.field__text--feedback{:"data-validation-type" => "required"}
                This field is required.
          .grid__item.one-quarter
            .field.js-field-charge-amount
              = f.label :charge_amount, "Amount", :class => "field__question"
              .field__answer.field__answer--money
                = f.select :charge_type, options_for_stack_charge_currency(@stack.charge_currency), { :include_blank => false }, {:class => "field__answer__prefix"}
                = f.number_field :charge_amount, :value => number_with_precision(@stack.charge_amount, :precision => 2)

        .field
          = f.submit 'Save', :class => 'primary-action'


    - elsif @show == 'digital-download'
      %h1.page-title
        #{content_tag :i, '', :class => 'icon-download-alt'} Digital Download Payment Page
      = form_for @stack, :url => create_digital_download_page_path(@entity.entity_token), :html => {:multipart => true, :autocomplete => "off"} do |f|
        - if @stack.errors.any?
          %div#error_explanation.notification.notification-danger
            %h2
              #{pluralize(@stack.errors.count, "error")} prohibited this page from being saved:

            %ul
              - @stack.errors.messages.each do |attr,message|
                - message.each do |msg|
                  %li
                    #{msg}


        .grid.grid--full
          .grid__item.three-quarters
            .field
              = f.label :product_name, "Name *", :class => "field__question"
              = f.text_field :product_name, :class => "field__answer required"
              %span.field__text.field__text--feedback{:"data-validation-type" => "required"}
                This field is required.
          .grid__item.one-quarter
            .field.js-field-charge-amount
              = f.label :charge_amount, "Amount", :class => "field__question"
              .field__answer.field__answer--money
                = f.select :charge_type, options_for_stack_charge_currency(@stack.charge_currency), { :include_blank => false }, {:class => "field__answer__prefix"}
                = f.number_field :charge_amount, :value => number_with_precision(@stack.charge_amount, :precision => 2)


        %div.heading
          %h2
            Downloadable file
          %p
            You can provide a file that is downloadable upon successful payment through this payment page.
          %p
            Downloadable files are currently limited to 10MB in size.

        %div.field.field-text.field-digital-download-file
          = f.label :digital_download_file, 'Downloadable file'
          %div.input
            = f.file_field :digital_download_file, :"data-required" => "true"

        %footer.actions
          %div.button-group
            = f.submit 'Create Page', :class => 'primary-action'