<div class="js-pp-stripe">
  <%= form_for subscription, :url => pocket_subscription_path, :html => {:autocomplete => "off"} do |f| %>
    <div class='card_errors notification notification-danger' style='display:none'>
      <span class="payment-errors"></span>
    </div>

    <% if subscription.errors.any? %>
      <div id="error_explanation" class="notification notification-danger">
        <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
        <% subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if flash[:status] %>
    <div class="notification notification-danger">
      <p><%= flash[:status] %></p>
    </div>
    <% end %>

    <%= render 'form', { :f => f, :subscription => subscription, :stack => stack, :shipping_cost => shipping_cost } %>
  <% end %>
</div>
