<section class="customer-list">
  <div class="main">
    <h1>Your Pocket</h1>

    <article class="container">
      <header>
        <p><strong>Your Purchases</strong>
      </header>

      <ul class="feed-list">
      <% if @transactions.count == 0 %>
        <li class="feed-item">
          <p>You have not purchased anything through Payly before.</p>
        </li>
      <% else %>
        <% @transactions.each do |transaction| %>
          <% stack = transaction.stack %>
          <% unless stack.nil? %>
            <li class="feed-item">
              <p>You bought <%= stack.product_name %> for <span class="cost"><%= number_to_currency(transaction.transaction_amount) %><span class="currency"><%= transaction.stack.charge_currency %></span></span></p>
                <ul>
                  <li><span class="purchase"><%= link_to 'View Purchase', pocket_transaction_path(:transaction_token => transaction.transaction_token) %></span></li>
                  <% if stack.has_digital_download && !stack.digital_download_receive.empty? && !stack.digital_download_file_file_name.nil? %>
                    <li>
                      <%= link_to download_url(:token => transaction.transaction_token), :target => "_blank" do %><i class="icon-download-alt"></i> Download <%= stack.digital_download_receive %><% end %>
                    </li>
                  <% elsif stack.has_digital_download && stack.digital_download_receive.empty? && !stack.digital_download_file_file_name.nil? %>
                    <li>
                      <%= link_to download_url(:token => transaction.transaction_token), :target => "_blank" do %><i class="icon-download-alt"></i> Download File<% end %>
                    </li>
                  <% end %>
                  <li><span class="time"><%= time_ago_in_words(transaction.created_at) %> ago</span></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>


      <%= will_paginate @transactions, :page_links => false, :previous_label => "Prev", :next_label => "Next" %>

    </article>
  </div>
</section>

