<!DOCTYPE html>
<html class="no-js">
  <head>
    <%= render "layouts/shared/document-head", {:pre_title => @pre_title, :post_title => @post_title} %>
  </head>
  <body>
    <header class="global">
      <div class="header__inner">
        <%= link_to 'Payly', root_path, :class => 'logo' %>
      </div>
    </header>

    <%= yield %>

    <footer class="global">
      <div class="footer__inner">
        <ul>
          <li>Crafted in Sydney, Australia by <%= link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank" %></li>
          <li>Want updates? <%= link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank" %></li>
          <li><%= link_to "FAQs", faqs_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms of Service", terms_path %></li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= analytics_init if Rails.env.production? %>
  </body>
</html>
