!!! 5
%html.no-js{:lang=>"en"}
  %head
    %meta{ :charset => "utf-8" }/
    %title
      #{@pre_title + " • " unless @pre_title.nil?}Payly#{" • " + @post_title unless @post_title.nil?}

    %meta{:name=>"description",:content=>"Accept payments simply &amp; easily. The easiest way for Australians to accept payments in a few minutes."}/
    %meta{:name=>"viewport",:content=>"initial-scale=1, maximum-scale=1"}/

    = javascript_include_tag :modernizr
    = stylesheet_link_tag "application", :media => "all"

    %link{:rel=>"shortcut icon",:href=>"/favicon.ico"}
    = render 'layouts/apple-touch-images'

    %meta{:name=>"apple-mobile-web-app-capable",:content=>"yes"}/
    %meta{:name=>"apple-mobile-web-app-title",:content=>"Payly"}/

    = csrf_meta_tags

  %body.dashboard

    %header.global
      = link_to 'Payly', user_root_path, :class => "logo"
      = link_to '#user-navigation', :class => "top-button" do
        %i.icon-reorder

    %section
      %aside#user-navigation
        = link_to '#', :class => "top-button" do
          %i.icon-remove
        = render "entity/user/sidebar"

      %article
        - if current_user.entity.payment_method.blank?
          = render "entity/user/payment_api_warning"
        - else
          - if current_user.entity.has_pin_payment_keys?
            = render "entity/user/pin_api_warning"
          - if current_user.entity.has_stripe_keys?
            = render "entity/user/stripe_api_warning"
          - if current_user.entity.has_braintree_keys?
            = render "entity/user/braintree_api_warning"
        - unless current_user.username?
          = render "entity/user/username_warning"

        = yield

    %footer.global
      %ul
        %li
          Crafted in Sydney, Australia by #{link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank"}
        %li
          Want updates? #{link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank"}
        %li
          = link_to "FAQs", faqs_path
        %li
          = link_to "Privacy Policy", privacy_path
        %li
          = link_to "Terms of Service", terms_path

    = javascript_include_tag "dashboard"
    = analytics_init if Rails.env.production?