<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title><%= @pre_title + " • " unless @pre_title.nil? %>Payly<%= " • " + @post_title unless @post_title.nil? %></title>

  <meta name="description" content="Pocket is the easiest way to find the purchases you've made through Payly.">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <%= javascript_include_tag :modernizr %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <link rel="shortcut icon" href="/favicon.ico">
  <%= render 'layouts/apple-touch-images' %>

  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= csrf_meta_tags %>
</head>
<body>
  <header class="global">
    <%= link_to 'Payly', root_path, :class => 'logo' %>
  </header>

  <%= yield %>

  <footer class="global">
    <ul>
      <li>Crafted in Sydney, Australia by <%= link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank" %></li>
      <li>Want updates? <%= link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank" %></li>
    </ul>
  </footer>

  <%= javascript_include_tag "devise" %>
  <%= analytics_init if Rails.env.production? %>
</body>
</html>
