<!DOCTYPE html>
<html>
<head>
  <% if @stack.nil? %>
  <title>Error</title>
  <% else %>
  <title>Purchase: <%= @stack.product_name %></title>
  <% end %>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% unless @stack.nil? %>
  <meta name="og:title" content="Purchase: <%= @stack.product_name %>" />
  <meta name="og:description" content="<%= @stack.description %>" />
  <meta name="og:image" content="<%= @stack.primary_image.url(:medium) %>" />
  <% end %>

  <%= javascript_include_tag :modernizr %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">

  <%= csrf_meta_tags %>
</head>
<body class="page">
  <%= yield %>

  <footer class="global">
    <div class="made-by">
      Made with <%= link_to "Payly", root_path %>
    </div>
  </footer>

  <%= analytics_init %>
</body>
</html>
