<!DOCTYPE html>
<html>
<head>
  <title><%= @pre_title + " • " unless @pre_title.nil? %>Payly<%= " • " + @post_title unless @post_title.nil? %></title>
  <%= javascript_include_tag :modernizr %>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">

  <%= csrf_meta_tags %>
</head>
<body class="dashboard">

  <header class="global">
    <%= link_to 'Payly', user_root_path, :class => "logo" %>
    <%= link_to '#user-navigation', :class => "top-button" do %><i class="icon-reorder"></i><% end %>
  </header>

  <section>
    <aside id="user-navigation">
      <%= link_to '#', :class => "top-button" do %><i class="icon-remove"></i><% end %>
      <%= render "user/sidebar" %>
    </aside>

    <article>
      <% if current_user.payment_method.blank? %>
        <%= render "user/payment_api_warning" %>
      <% else %>
        <% if current_user.payment_method == 'pin_payments' && (current_user.pin_api_key.blank? || current_user.pin_api_secret.blank?) %>
          <%= render "user/pin_api_warning" %>
        <% end %>
        <% if current_user.payment_method == 'braintree' && (current_user.braintree_merchant_id.blank? || current_user.braintree_api_key.blank? || current_user.braintree_api_secret.blank? || current_user.braintree_client_side_key.blank?) %>
          <%= render "user/braintree_api_warning" %>
        <% end %>
      <% end %>

      <%= yield %>
    </article>
  </section>

  <footer class="global">
    <ul>
      <li>Crafted in Sydney, Australia by <%= link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank" %></li>
      <li>Want updates? <%= link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank" %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Service", terms_path %></li>
    </ul>
  </footer>

  <%= javascript_include_tag "dashboard" %>
  <%= analytics_init %>
</body>
</html>
