<!DOCTYPE html>
<html class="no-js">
  <head>
    <%= render "layouts/shared/document-head", {:pre_title => @pre_title, :post_title => @post_title} %>
  </head>
  <body class="dashboard">

    <header class="global">
      <div class="header__inner">
        <%= link_to 'Payly', user_root_path, :class => "logo" %>
        <%= link_to '#user-navigation', :class => "top-button" do %><i class="icon-reorder"></i><% end %>
      </div>
    </header>

    <section>
      <aside id="user-navigation">
        <%= link_to '#', :class => "top-button" do %><i class="icon-remove"></i><% end %>
        <%= render "user/sidebar" %>
      </aside>

      <article>
        <% if current_user.payment_method.blank? %>
          <%= render "user/payment_api_warning" %>
        <% else %>
          <% if current_user.has_pin_payment_keys? %>
            <%= render "user/pin_api_warning" %>
          <% end %>
          <% if current_user.has_stripe_keys? %>
            <%= render "user/stripe_api_warning" %>
          <% end %>
          <% if current_user.has_braintree_keys? %>
            <%= render "user/braintree_api_warning" %>
          <% end %>
        <% end %>
        <% unless current_user.username? %>
          <%= render "user/username_warning" %>
        <% end %>

        <%= yield %>
      </article>
    </section>

    <footer class="global">
      <ul>
        <li>Crafted in Sydney, Australia by <%= link_to "Tim Gleeson", "http://twitter.com/timjgleeson", :target => "_blank" %></li>
        <li>Want updates? <%= link_to "Follow us", "http://twitter.com/paylyapp", :target => "_blank" %></li>
        <li><%= link_to "FAQs", faqs_path %></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
        <li><%= link_to "Terms of Service", terms_path %></li>
      </ul>
    </footer>

    <%= render "layouts/shared/document-foot" %>
  </body>
</html>
